:root{
  --primary-color: #ddd;
  --secondary-color: #eee;
  --background-color: #f5f7fa;
  --text-color: #333333;
  --secondary-text-color: #666666;
  --border-color: #e0e0e0;
  --font-size: 16px;
  --font-weight: 400;
  --font-family: 'Arial', sans-serif;
}