header {
  background-image: url("/background_image.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #464646;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1{
    margin: 0;
    padding: 1em;
    color: #fff;
    text-transform: uppercase;
}

.logo{
    float: left;
    width: 6vw;
    height: 15vh;
    border-radius: 4em;
    margin-left: 2em;
}

button{
    height: 10vh;
}