nav{
    grid-area: menu;
    background-color: var(--primary-color);
    margin: 1vw 0;
    text-align: center;
}

.menu_list{
    padding: 0 1em;
}
.menu_list li{
    list-style: none;
    text-transform: uppercase;
    margin: 1em 0;
}

.sections_menu{
    padding: 0;
    background-color: var(--secondary-color);
    border-radius: 1em;
    padding: .5em;
}
