article{
    background-color: #fff;
    min-width: 15em;
    min-height: 20em;
    text-align: center;
    margin: 2em 2em;
}

article p{
    font-family:cursive;
}

article h2{
    padding: .5em;
}
article h4, article h5{
    font-size: 1em;
}