.contact-form-section{
    background-color: var(--primary-color);
}

#campo_form_email input{
    width: 30em;
}
.form-field{
    margin: 1em 4em;
    font-size: 1.5em;
}

button{
    padding: 1.5em 4em;
    border-radius: 1em;
    display: block;
    margin: 0 auto;
}

input{
    min-width: 20em;
    width: auto;
    height: 2em;
}

.contact-form-section{
    background-color: var(--primary-color);
    margin: 1em 0 1em 1em;
}

.contact-form-section h2{
    text-align: center;
    font-size: 2em;
}