main{
    display: grid;
    grid-template-columns: .7fr 2fr 2fr;
    grid-template-areas:"header header header"
                        "menu section section"
                        ". section section"
                        "footer footer footer";
}

.home-section{
    grid-area: section;
}
.genre-section{
    grid-area: section;
}